.primary-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.primary-layout footer {
  margin-top: auto;
}

/* .primary-layout main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
} */
